<form class="updateOrAddForm" action="" method="post" name="updateOrAddForm">
    <ul>
        <li>
            <label for="id">Group number:</label>
            <input class="dataItem" type="text" name="groupNumber" id="id" readonly/>
        </li>
        <li>
            <label for="avgMark">Average mark:</label>
            <input class="dataItem" type="text" name="avgMark" id="avgMark" placeholder="8.7" minlength="1" maxlength="5" required autocomplete="off"/>
            <span class="formHint">Average mark could be from 0 to 10</span>
        </li>
    </ul>
</form>