<form class="updateOrAddForm" action="" method="post" name="updateOrAddForm">
    <ul>
        <li>
            <label for="id">Id:</label>
            <input class="dataItem" type="text" name="id" id="id" readonly/>
        </li>
        <li>
            <label for="role">Role:</label>
            <input class="dataItem" type="text" name="role" id="role" placeholder="user" minlength="2" maxlength="50" required  autocomplete="off"/>
            <span class="formHint">Role could contain from 2 to 50 chars</span>
        </li>
    </ul>
</form>